/* reset */
* { margin: 0; padding: 0; }

/* standard styles */
body { font-family: Tahoma; font-size: 0.625em; line-height: 200%; margin: 1em; }
p, label, li, button { font-size: 1.6em; }
h1, h2, h3, h4, h5 { font-family: Georgia; font-weight: bold; }
h1 { font-size: 2.4em; margin: 1em 0; }
h2 { font-size: 2em; margin: 0.5em 0; }
h3 { font-size: 1.6em; margin: 0.2em 0; }
p, ul { margin-bottom: 1.2em; }
li { margin-left: 24px; }

/* home page */
.userName,
.recentResults .verb,
.recentResults .opponent 
{ 
  font-weight: bold; 
}

.recentResults .date
{
  font-size: 0.8em;
  color: #999;
}

/* form layout */
div.formElement { margin-bottom: 10px; }

div.formElement input,
div.formElement select 
{ 
  font-size: 1.6em; 
  padding: 3px; 
  border-color: #888; 
  border-style: solid; 
  border-width: 1px; 
  margin: 1px; 
  outline: none; 
  line-height: 100%; 
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div.formElement input.focus,
div.formElement select.focus 
{ 
  border-width: 2px; 
  margin: 0; 
}

div.formElement input.error { border-color: #F00; }

div.formElement label 
{ 
  display: block; 
  font-weight: bold; 
  float: left; 
  margin-right: 10px; 
  margin-top: 4px; 
  text-align: right; 
  width: 100px; 
}

div.formElement label.error 
{ 
  display: inline; 
  float: none; 
  text-align: left; 
  color: #F00; 
}

div.formSubmission { margin-left: 110px; }

.submit 
{
  outline: none;
  width: 90px;
	background-color: #666;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(120,120,120)), to(rgb(40,40,40)));
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	border: none;
	margin: 1px 0;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 1.4em;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	cursor: pointer;
}

.submit.focus
{
  -moz-box-shadow: 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px rgba(0,0,0,0.5);
}

/* home login form */
.smallLoginForm div { font-size: 0.625em; }
.smallLoginForm div.formElement { display: inline; margin-right: 4px; position: relative; }
.smallLoginForm div.formSubmission { display: inline; margin-left: 1px; }

/* form watermark */
div.formElement.watermark { position: relative; }
div.formElement.watermark label { position: absolute; font-weight: normal; left: 7px; top: -10px; width: auto; color: #999; }
div.formElement.watermark input { width: 100px; }
div.formElement.watermark input:focus { background-color: #fff; }

/* victory record form */
.victoryRecordForm .myScore { font-size: 1.6em; font-weight: bold; display: block; float: left; margin-right: 10px; margin-top: 4px; text-align: right; width: 100px; }
.victoryRecordForm .opponentSelect select,
.victoryRecordForm .matchDateSelect select,
.victoryRecordForm .opponentScoreSelect select { width: 180px; }